@model IEnumerable<Bar_rating.Models.Bar>
@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.role == "Admin")
{
    <div class="container">
        <p class="mt-3 mb-3">
            <a class="btn btn-primary" asp-action="Create"><span style="font-style: italic;">Create New</span></a>
        </p>
    </div>
}

<table id="BarTable" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th><span style="font-style: italic;">Name</span></th>
            <th><span style="font-style: italic;">Description</span></th>
            <th><span style="font-style: italic;">Image</span></th>
                <th><span style="font-style: italic;">Actions</span></th>
                <th><span style="font-style: italic;">Reviews</span></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><span style="font-style: italic;">@Html.DisplayFor(modelItem => item.Name)</span></td>
                <td><span style="font-style: italic;">@Html.DisplayFor(modelItem => item.Description)</span></td>
                <td>
                    @if (item.BarImage != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.BarImage)" alt="Bar Image" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
                    }
                    else
                    {
                        <span style="font-style: italic;">No Image Available</span>
                    }
                </td>
                @if (ViewBag.role == "User")
                {
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id"><span style="font-style: italic;">Details</span></a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-secondary" asp-controller="Review" asp-action="Index" asp-route-id="@item.Id"><span style="font-style: italic;">See Reviews</span></a>
                    </td>
                }
                @if (ViewBag.role == "Admin")
                {
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id"><span style="font-style: italic;">Edit</span></a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id"><span style="font-style: italic;">Details</span></a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span style="font-style: italic;">Delete</span></a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-secondary" asp-controller="Review" asp-action="Index" asp-route-id="@item.Id"><span style="font-style: italic;">See Reviews</span></a>
                    </td>
                }
            
            </tr>
        }
    </tbody>
</table>
